<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lsh.prj.diary.mapper.HomeMapper">
    <select id="selectHome" parameterType="lsh.prj.diary.domain.in.HomeInput" resultType="lsh.prj.diary.domain.out.HomeOutput">
        SELECT /* HomeMapper.selectHome */
                A.*
          FROM CL_CLN_ACC A
             , CL_CLN_BSE B
       WHERE A.CLN_NO = B.CLN_NO
         AND A.ACC_ID = #{accId}
    </select>
</mapper>